<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>3326628718-gfb1ntoh4tmao8u355ljousk788nhplp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.3326628718-gfb1ntoh4tmao8u355ljousk788nhplp</string>
	<key>API_KEY</key>
	<string>AIzaSyBOVx960XGcEepM-XG27kXQ8pnXVFiLyLQ</string>
	<key>GCM_SENDER_ID</key>
	<string>3326628718</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ysnp.MilliArt.com.MilliArt</string>
	<key>PROJECT_ID</key>
	<string>milliart-57c71</string>
	<key>STORAGE_BUCKET</key>
	<string>milliart-57c71.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:3326628718:ios:6fd7dfe67627703638e77f</string>
</dict>
</plist>